This is a quick review of some basic Python 3 features that you might use in your assignments. 
Of course, this is far from being exhaustive. 

This tutorial follows a example-exercise format. Grey boxes are cells containing code - just place the cursor in 
any code cell you want to execute, then press Shift + Enter on your keyboard or click on 'Cell -> Run'.

Some exercises have a block of `assert` statements after them. These are used for you to make sure you're on the right track and help me when grading. **Do not alter `assert` statements without instruction to do so.**

Official Python documentation - https://docs.python.org/3/

A popular book â€œA byte of python" - http://www.swaroopch.com/notes/Python

# Basics

## Variables & printing
Assigning values to variables, and printing them.

In [0]:
x = 0
print(x)

y = 'code'
print(y)

print(x, y)

0
code
0 code

In Jupyter notebook, executing a block with just a variable name or a function output will automatically print the value.

In [0]:
x + 4

4

## <font color='red'>EXERCISE 1.1</font>
Assign numerical values to two different variables, multiply them, store the result in a different variable and print it.

## "Concatenation"
This will be a running theme for the data types we look at: how to combine two elements of the type. Numberic types (`int` and `float`) are immutable in Python.

In [0]:
x, y = 2, 3
z = x + y
print(z)

In [0]:
x = 2
x = x + 3
print(x)

In [0]:
x = 2
x += 3
print(x)

By analogy, you can probably figure out what the `-=` and `*=` operators do.

## Comparison

In [0]:
4 < 5

In [0]:
4 > 5

In [0]:
# Need to use the double-equals for comparison
4 == 4

In [0]:
4 >= 4

## <font color='red'>EXERCISE 1.2</font>
It is true that for a given integer N, N times N (N squared) is greater than or equal to N. Assign an integer to a variable and show this condition evaluates to `True`.

## Numerical operations
Division, modulo, exponent

In [0]:
5 / 2 # "Regular" division

In [0]:
5 // 2 # Integer division

In [0]:
5 % 2  # Modulo, returns the remainder

In [0]:
5 ** 2 # Exponentiation. This is 5 to the 2nd power.

Yes, the all of the shorthand assignment operators work like you would expect

In [0]:
x = 5
x **= 2
print(x)

## <font color='red'>EXERCISE 1.3</font>
Calculate the product of x and its reciprocal (1/x). Verify that the result is equal to 1.0

## Functions

Defining functions with `def`. Note the colon at the end of the arguments list.

In [0]:
def square(x):
    return x * x

square(4)

Functions can have optional arguments as well

In [0]:
def pow(x, exponent=2):
    result = x ** exponent
    return result

print( pow(4) )
print( pow(4,3) )

## <font color='red'>EXERCISE 1.4</font>

Define a function called `is_even` that uses the modulo operator to return whether or not a given integer is even. You'll know your function works if the assertions in the block after run without error.

In [0]:
assert is_even(6)
assert not is_even(5)

## Conditional logic
Note how the else-if is implemented in python â€“ it is â€˜elifâ€™. 
Also, notice the colon at the end of the conditions which is part of the syntax.

In [0]:
x = 0

if x == 1:
    print('x is 1')
elif x > 1:
    print('x is > 1')
else:
    print('x is < 1')

In [0]:
# Employing logical AND, OR within conditions

x = 1
y = 5
z = 5

if z >= x and z <= y:
    print("z lies within the interval [x,y]")

if z == x or z == y:
    print("z lies on the boundary of the interval [x,y]")

## <font color='red'>EXERCISE 2.1</font>
Write a function `compare()` that accepts two values, and prints if the first value is greater, less than, or equal to the second value.

**Example:**
```
>>>  compare(4, 5)
<<<  4 is less than 5
```

In [0]:
compare(4,5)
compare(5,4)
compare(7,7)

## Ranges and `for`-loops

The `for` loop is by far the most useful and Pythonic loop. Again note the colon at the end of the loop statements.

In [0]:
for i in range(0,10):  
    print(i)

print("Final value:", i)

Often used in loops, the `range()` function allows iterating over a sequence of integers.

With one argument, `range(x)` gives integers in the half-open interval [0, x), that is, including zero and not including x.

By itself, `range()` gives an iterator:

In [0]:
# Not so descriptive
range(10)

We can use the `list()` constructor to return all of the values in a list:

In [0]:
list(range(10))

With two arguments, range(x, y) gives integers in the range [x, y):

In [0]:
list(range(0, 10))

With three arguments, range(x, y, z) gives integers in the range [x, y), counting by z:

In [0]:
list(range(1, 10, 2))

Counting backwards works too

In [0]:
list(range(10, 5, -1))

## <font color='red'>EXERCISE 3.1</font>

Using a loop, calculate the sum of first 10 positive integers (zero is not positive, pay attention to the endpoints).

## <font color='red'>EXERCISE 3.2</font>

Write a loop that goes through numbers 1 through 20, printing only the even numbers

## <font color='red'>EXERCISE 3.3</font>
A natural number is prime if it has no positive divisors other than 1 and itself. Write a function `is_prime()` that checks if a number is prime. The assertions afterwards should pass.

In [0]:
assert is_prime(11)
assert not is_prime(12)

## <font color='red'>EXERCISE 3.4</font>
The following function should return the minimal item from a sequence, but one or more of the assertions fail. Correct the bug in the function so that the assertions pass.

*Note:* this is a bug that I guarantee every single one of you will write at least once in this course.

In [0]:
def minimum(seq):
    my_min = float('inf')
    for item in seq:
        if item < my_min:
            my_min = item
        return my_min

In [0]:
assert minimum(range(0,10)) == 0
assert minimum(range(9, 0, -1)) == 1